extends layout

block content
  div(class='container')
    h1 Virgil Crypto
    hr
    p(class='description') This is a modern benchmark that measures a Virgil Crypto Library's performance by running a suite of tests. 
    
    form 
      div(class='form-group')
        label Enter some text to encrypt
        textarea(class='form-control', resize='none', rows='7')
        